.ui-title {
  font-family: 'Paytone One', Georgia, Times, serif;
  font-weight: normal !important;
}
.min-width-480px .ui-input-search {
  margin: -25px 10px -15px -10px;
  width: 95%;
}
#results {
  margin-top: -10px;
}
.ui-content .ui-listview {
  margin-top: 20px;
  margin-left: -15px;
}